#demo-container{
    padding: 60px;
}
#fotostack-demo{
    position: absolute;
}

.pic{
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}
.image{
    height: 30px;
}
.image-1{
    background-color: green;
}

.image-2{
    background-color: orange;
}

.image-3{
    background-color: red;
}

#container,
#container-1,
#container-2,
#container-3{
    margin-bottom: 40px;
}

#container,
#container-2{
    float:left;
}

#container-1,
#container-3{
    padding-left: 200px;
}

#container-2,
#container-3{
    padding-top: 100px;
}

.pic-unterschrift{
    text-align: center;
    width: 100%;
    line-height: 30px;
}

